@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Prata&family=Young+Serif&display=swap');
/* 초기화 */
html, head, body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, dl, dt, dd, address, blockquote, form, fieldset, legend, table, caption, tr, th, thead, tbody, tfoot, header, nav, aside, section, article, footer, figure, figcaption, footer, main {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit}

em, i, address, cite {font-style: normal;}

button {border: none; cursor: pointer; background: none;}
table {border-collapse: collapse;}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

/* 블라인드 텍스트 */
.blind {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}